<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="og:type" content="website">
    <meta name="og:title" content="Hamilton Food Safety aka HamOntFood">
    <meta name="og:description" content="A simple website for getting the results of food safety inspections in Hamilton, Ontario">
    <meta name="og:url" content="<%= request.original_url -%>">

    <title><%= content_for?(:title) ? yield(:title) : "Hamilton Food Safety aka HamOntFood" %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#343c91">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <link rel="canonical" href="<%= request.original_url -%>">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <a href="/" class="secondary">
        <%= image_tag "ham.svg" %>
        HamOntFood
      </a>
    </header>

    <!--<nav class="breadcrumbs">
      <a href="/">Recent Inspections</a>
      <a href="/?type=Failed">Recent Yellow &amp; Red Inspections</a>
      <a href="/premises">Browse</a>
    </nav>-->

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><%= image_tag 'menu.png' -%></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="/">Recent Inspections</a></li>
          <li><a href="/?type=Failed">Recent Yellow &amp; Red Inspections</a></li>
          <li><a href="/premises">Browse &amp; Search</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <%= yield %>
    </div>

    <footer>
      This is a footer. If this site was copywritten, you would see the copyright here. There are <%= number_with_delimiter @premise_count -%> premises, with <%= number_with_delimiter @inspection_count -%> inspections. Fork this on <a href="https://github.com/mattgrande/hamontfood">github</a>.
      <span class="hide">This website was created by <a href="http://mattgrande.com">Matt Grande</a>.</span>
    </footer>

    <%= javascript_include_tag "application" %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49118072-1', 'hamontfood.com');
  ga('send', 'pageview');
</script>
  </body>
</html>