<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="og:type" content="website">
    <meta name="og:title" content="Hamilton Food Safety aka HamOntFood">
    <meta name="og:description" content="A simple website for getting the results of food safety inspections in Hamilton, Ontario">
    <meta name="og:url" content="<%= request.original_url -%>">

    <title><%= content_for?(:title) ? yield(:title) : "Hamilton Food Safety aka HamOntFood" %></title>

    <link rel="canonical" href="<%= request.original_url -%>">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <a href="/" class="secondary">
        <%= image_tag "ham.svg" %>
        HamOntFood
      </a>
    </header>

    <!--<nav class="breadcrumbs">
      <a href="/">Recent Inspections</a>
      <a href="/?type=Failed">Recent Yellow &amp; Red Inspections</a>
      <a href="/premises">Browse</a>
    </nav>-->

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">&#9776;</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="/">Recent Inspections</a></li>
          <li><a href="/?type=Failed">Recent Yellow &amp; Red Inspections</a></li>
          <li><a href="/premises">Browse &amp; Search</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <%= yield %>
    </div>

    <footer>
      This is a footer. If this site was copywritten, you would see the copyright here. There are <%= number_with_delimiter @premise_count -%> premises, with <%= number_with_delimiter @inspection_count -%> inspections.
      <span class="hide">This website was created by <a href="http://mattgrande.com">Matt Grande</a>.</span>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>